* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    background: #fafafa;
}

.top-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: auto;  
}

#title-top {
    font-weight: 100;
    font-size: 1.73em;
    margin-top: 3em;
    margin-bottom: -.5em;
    
} 

#title-bottom {
    font-size: 1.8em;
    font-weight: 1100;
}

.top-container p {
    margin-top: -.2em;
    line-height: 1.5em;
}


.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.col {
    height: 12em;
    margin-bottom: -.8em;
    margin-top: 3em;
    box-shadow: 0em .3em .7em rgba(0, 0, 0, 0.4);
}

.col img {
    margin-left: 12em;
    margin-top: 0.5em;
    width: 20%;
}

.col h2 {
    margin-left: .5em;
    font-size: 1.5em;
    letter-spacing: 0em;
    font-weight: bold;
}

.col p {
    margin-left: 1em;
    margin-right: .8em;
    margin-top: -.8em;
    font-size: .9em;
   
}

.supervisor {
    border-top: .2em solid #42d2d3;
    border-radius: .4em;
}

.team-builder {
    border-top: .2em solid #e7545a;
    border-radius: .4em;
}

.karma {
    border-top: .2em solid #f7ac4f;
    border-radius: .4em;
}

.calculator {
    border-top: .2em solid #559def;
    border-radius: .4em;
}

footer {
    margin-top: 3em;
}

/* Media Queries */

@media (min-width: 1440px) {
    #title-top {
        font-weight: 50;
        font-size: 2.1em;
        margin-top: 2em;
        margin-bottom: -.3em;    
    } 
    
    #title-bottom {
        font-size: 2.2em;
    }
    
    .top-container p {
        width: 40%;
        margin: auto;
        margin-top: 1em;
    }


}